# Data Uniformity in Data Science
## Treating most common uniformity problems in Pandas
<img src='images/crowd.jpg'></img>
<figcaption style="text-align: center;">
    <strong>
        Image by 
        <a href='https://pixabay.com/users/mwewering-185784/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1699137'>Matthias Wewering</a>
        on 
        <a href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1699137'>Pixabay</a>
    </strong>
</figcaption>

### Introduction <small id='intro'></small>

In my previous articles on data cleaning, I talked how out of range values, incorrect data types, uniqueness constraints are common problems and that when left untouched cans seriously compromise our analysis. 

In this article, we are going to tackle a problem that is just as dangerous and that can similarly skew our analysis which is **unit uniformity**. 

Problems related to uniformity can come in many shapes:
- temperature data given in both Fahrenheit and Celsius
- weight given in both kilograms and pounds
- multiple date formats
- money represented in different currencies

Such problems arise because of many reasons. For example, data is collected across many locations and merged together into one. This can result in the above problems. It is imperative that you know how to handle uniformity problems for accurate analysis.

### Setup <small id='setup'></small>

In [1]:
# Load necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Filter warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load data
unit = pd.read_csv('data/unit_uniformity.csv')
date = pd.read_csv('data/date_uniformity.csv')

In [4]:
unit.head()

   avg_temperature        date
0               13  2020-09-01
1               16  2020-09-02
2               17  2020-09-03
3               10  2020-09-04
4               12  2020-09-05

In [7]:
date.head()

  first_name last_name             birthday
0    Desirae       Fry  1975-12-13 00:00:00
1        Jon     Reese  2018-05-30 00:00:00
2       Ivor    Cooper  1967-04-01 00:00:00
3       Mary    Palmer  1984-10-20 00:00:00
4       Cole     Bloom  1999-06-20 00:00:00

### Unit Uniformity <small id='unit'></small>

### Date Uniformity <small id='date'></small>