# Master one third of Seaborn: Statistical plotting with relplot()
## If you can do it in Seaborn, do it in Seaborn
<img src='images/pexels-burak.jpg'></img>

### Setup

In [1]:
# Load necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Plotting pretty figures and avoid blurry images
%config InlineBackend.figure_format = 'retina'
sns.set_context('notebook')

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Enable multiple cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [21]:
df = pd.read_csv('data/GlobalLandTemperaturesByCountry.csv', index_col=[0], parse_dates=['dt'])

In [22]:
df.dropna()

            AverageTemperature  AverageTemperatureUncertainty   Country
dt
1743-11-01               4.384                          2.294     Åland
1744-04-01               1.530                          4.680     Åland
1744-05-01               6.702                          1.789     Åland
1744-06-01              11.609                          1.577     Åland
1744-07-01              15.342                          1.410     Åland
...                        ...                            ...       ...
2013-04-01              21.142                          0.495  Zimbabwe
2013-05-01              19.059                          1.022  Zimbabwe
2013-06-01              17.613                          0.473  Zimbabwe
2013-07-01              17.000                          0.453  Zimbabwe
2013-08-01              19.759                          0.717  Zimbabwe

[544811 rows x 3 columns]