# A New Package in Town: Missingno
## Visualize missing values for deep insights
<img src='images/puzzle.jpg'></img>
<figcaption style="text-align: center;">
    <strong>
        Photo by 
        <a href='https://pixabay.com/users/422737-422737/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=654110'>Hebi B.</a>
        on 
        <a href='https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=654110'>Pixabay</a>
    </strong>
</figcaption>

### Introduction <small id='intro'></small>

### Setup <small id='setup'></small>

In [1]:
# Scientific libraries
import numpy as np
import pandas as pd
# Missingno to be imported later

# Visual setup
%config InlineBackend.figure_format = 'retina'

I generated a fake dataset to show you examples of different missingness types:

In [2]:
survey = pd.read_csv('data/missingness.csv')
survey.sample(5)

     first_name last_name  age favorite_os     IQ
9571     Andrea       NaN   61   AndroidOS  113.0
6969      Daisy    Powell   61   AndroidOS  101.0
5941      Josie     Adams   65   AndroidOS  106.0
1516     Brooks     White   46         iOS  104.0
1761     Karter    Russel   49         iOS  107.0

### Missingno Basics <small id='basics'></small>

### Missingness Types: MCAR <small id='mcar'></small>

### Missingness Types: MAR <small id='mar'></small>

### Missingness Types: MNAR or NMAR <small id='mnar'></small>

### Missingness Correlation Heatmaps <small id='heatmap'></small>