# How do I customarily bin data with Pandas
## Master the when and how of `qcut()` and `cut()`
<img src='images/bin.jpg'></img>
<figcaption style="text-align: center;">
    <strong>
        Photo by 
        <a href='https://unsplash.com/@steve_j?utm_source=medium&utm_medium=referral'>Steve Johnson</a>
        on 
        <a href='https://unsplash.com/?utm_source=medium&utm_medium=referral'>Unsplash</a>
    </strong>
</figcaption>

### Introduction

### Setup

In [32]:
# Load necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Plotting pretty figures and avoid blurry images
%config InlineBackend.figure_format = 'retina'
# Larger scale for plots in notebooks
sns.set_context('talk')

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Enable multiple cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

For the sample data, I will be using a built-in `planets` dataset of `seaborn`:

In [34]:
# Load sample data
planets = sns.load_dataset('planets', usecols=['mass', 'distance']).dropna()
planets.head()

    mass  distance
0   7.10     77.40
1   2.21     56.95
2   2.60     19.84
3  19.40    110.62
4  10.50    119.47

In [35]:
planets.describe()

             mass    distance
count  498.000000  498.000000
mean     2.509320   52.068213
std      3.636274   46.596041
min      0.003600    1.350000
25%      0.212500   24.497500
50%      1.245000   39.940000
75%      2.867500   59.332500
max     25.000000  354.000000