# Cross Field Validation with Pandas
## Sanity check your data integrity
<img src='images/cross.jpg'></img>
<figcaption style="text-align: center;">
    <strong>
        Photo by 
        <a href='https://www.pexels.com/@ian-beckley-1278367?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels'>Ian Beckley</a>
        on 
        <a href='https://www.pexels.com/photo/top-view-photography-of-roads-2440013/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels'>Pexels</a>
    </strong>
</figcaption>

### Introduction <small id='intro'></small>

### Setup <small id='setup'></small>

In [1]:
# Scientific libraries
import numpy as np
import pandas as pd

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

I generated a fake data to perform cross field validation:

In [2]:
# Load data
people = pd.read_csv('data/people.csv')
people.sample(10)

     first_name  last_name    birthday  weight  height  bmi  age
2813     Edward     Turner  1996-08-15      83     186   24   24
3636      Blake      Baker  1998-02-09      72     184   21   22
1990     Brooks    Edwards  1989-08-10      53     180   16   31
5180      Paige       Hill  2001-10-06      78     177   24   19
4347     Steven     Rivera  1995-02-27      94     160   48   25
7963    Presley     Bailey  1983-01-05      79     185   23   37
3294    Braxton      Evans  1986-08-22      55     181   16   34
7134    Preston   Thompson  1981-01-17      96     178   30   39
2824     Steven   Phillips  1988-05-02      63     172   21   32
9180      Wyatt  AllenKing  1986-06-21      80     190   22   34

In [3]:
people.shape

(10000, 7)

In [4]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  10000 non-null  object
 1   last_name   10000 non-null  object
 2   birthday    10000 non-null  object
 3   weight      10000 non-null  int64
 4   height      10000 non-null  int64
 5   bmi         10000 non-null  int64
 6   age         10000 non-null  int64
dtypes: int64(4), object(3)
memory usage: 547.0+ KB

 ### Methods of Performing Cross Field Validation <small id='validation'></small>