# Setup

In [1]:
install.packages("dplyr")

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\bex\anaconda3\envs\articles\Lib\R\library\00LOCK\dplyr\libs\x64\dplyr.dll to C:\Users\bex\anaconda3\envs\articles\Lib\R\library\dplyr\libs\x64\dplyr.dll: Permission denied"
Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\bex\AppData\Local\Temp\RtmpuC2pNV\downloaded_packages

In [2]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.6     v purrr   0.3.4
v tibble  3.1.7     v stringr 1.4.0
v tidyr   1.2.0     v forcats 0.5.1
v readr   2.1.2

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [4]:
airbnb_listings <- read_csv("data/listings.csv")

Rows: 3 Columns: 5
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (2): city, country
dbl (3): listing_id, number_of_rooms, year_listed

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
host_listings = read_csv("data/host.csv")

Rows: 3 Columns: 4
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (1): name
dbl (3): host_id, listing_id, number_of_reviews

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

# Transforming data with dplyr

## Working with columns

#### Instructions: Please provide at least 5 functions covering working with columns

- select() 
- rename()

##### 1. select column(s)

In [6]:
airbnb_listings %>%
    select(listing_id, city)

  listing_id city
1 1          Paris
2 2          Tokyo
3 3          New York

##### 2. Reorder columns

In [7]:
airbnb_listings %>%
    select(city, country, everything())

  city     country listing_id number_of_rooms year_listed
1 Paris    France  1          5               2018
2 Tokyo    Japan   2          2               2017
3 New York USA     3          2               2022

In [11]:
airbnb_listings %>%
    rename(year=year_listed)

  listing_id city     country number_of_rooms year
1 1          Paris    France  5               2018
2 2          Tokyo    Japan   2               2017
3 3          New York USA     2               2022

##### 3. Select based on start/end characters:

In [12]:
select(airbnb_listings, starts_with("c"))

  city     country
1 Paris    France
2 Tokyo    Japan
3 New York USA

In [13]:
select(airbnb_listings, ends_with("s"))

  number_of_rooms
1 5
2 2
3 2

##### 4. Select based on a regular expression

In [17]:
select(airbnb_listings, matches("(.n.)|(n.)"))

  listing_id country number_of_rooms
1 1          France  5
2 2          Japan   2
3 3          USA     2

##### 5. Include/Exclude certain columns

In [21]:
# Everything but listing_id
select(airbnb_listings, -listing_id)

  city     country number_of_rooms year_listed
1 Paris    France  5               2018
2 Tokyo    Japan   2               2017
3 New York USA     2               2022

In [20]:
# A column range
select(airbnb_listings, country:year_listed)

  country number_of_rooms year_listed
1 France  5               2018
2 Japan   2               2017
3 USA     2               2022

## Working with rows

#### Instructions: Please provide at least 5-7 functions covering working with rows

- filter() on one condition
- filter() on two conditions
- arrange() descending
- arrange() ascending 
- distinct()
- slice()

## Adding new columns

#### Instructions: Please provide at least 5 functions on creating new columns 

- mutate() 
- transmute()
- add_count()

# Aggregating data with dplyr

#### Instructions: Please provide examples of use-cases that leverage these functions. Try to be simplistic and provide one-use-case per function:

- count(, sort=)
- summarize() using sum
- summarize() using mean
- summarize() using sum and mean
- group_by()
- group_by() and summarize() together
- group_by() and summarize() and ungroup() together
- group_by() and top_n()

# Joining tables with dplyr

## Working with tables

#### Instructions: Please provide at least 5  functions covering joining different tables at once

- bind_cols()
- bind_rows()

## Joins in dplyr

#### Instructions: Provide examples for these functions:

- inner_join()
- semi_join()
- nest_join()
- left_join()
- right_join()
- full_join()
- anti_join()