In [10]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [11]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.6     v purrr   0.3.4
v tibble  3.1.7     v stringr 1.4.0
v tidyr   1.2.0     v forcats 0.5.1
v readr   2.1.2

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [70]:
penguins = read_csv("data/penguins.csv")

Rows: 344 Columns: 7
-- Column specification --------------------------------------------------------
Delimiter: ","
chr (3): species, island, sex
dbl (4): bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [27]:
spec(penguins)

cols(
  species = col_character(),
  island = col_character(),
  bill_length_mm = col_double(),
  bill_depth_mm = col_double(),
  flipper_length_mm = col_double(),
  body_mass_g = col_double(),
  sex = col_character()
)

In [28]:
glimpse(penguins)

Rows: 344
Columns: 7
$ species           <chr> "Adelie", "Adelie", "Adelie", "Adelie", "Adelie", "A~
$ island            <chr> "Torgersen", "Torgersen", "Torgersen", "Torgersen", ~
$ bill_length_mm    <dbl> 39.1, 39.5, 40.3, NA, 36.7, 39.3, 38.9, 39.2, 34.1, ~
$ bill_depth_mm     <dbl> 18.7, 17.4, 18.0, NA, 19.3, 20.6, 17.8, 19.6, 18.1, ~
$ flipper_length_mm <dbl> 181, 186, 195, NA, 193, 190, 181, 195, 193, 190, 186~
$ body_mass_g       <dbl> 3750, 3800, 3250, NA, 3450, 3650, 3625, 4675, 3475, ~
$ sex               <chr> "Male", "Female", "Female", NA, "Female", "Male", "F~

In [29]:
head(penguins)

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Torgersen 39.1           18.7          181               3750
2 Adelie  Torgersen 39.5           17.4          186               3800
3 Adelie  Torgersen 40.3           18.0          195               3250
4 Adelie  Torgersen   NA             NA           NA                 NA
5 Adelie  Torgersen 36.7           19.3          193               3450
6 Adelie  Torgersen 39.3           20.6          190               3650
  sex
1 Male
2 Female
3 Female
4 NA
5 Female
6 Male

In [30]:
summary(penguins)

   species             island          bill_length_mm  bill_depth_mm
 Length:344         Length:344         Min.   :32.10   Min.   :13.10
 Class :character   Class :character   1st Qu.:39.23   1st Qu.:15.60
 Mode  :character   Mode  :character   Median :44.45   Median :17.30
                                       Mean   :43.92   Mean   :17.15
                                       3rd Qu.:48.50   3rd Qu.:18.70
                                       Max.   :59.60   Max.   :21.50
                                       NA's   :2       NA's   :2
 flipper_length_mm  body_mass_g       sex
 Min.   :172.0     Min.   :2700   Length:344
 1st Qu.:190.0     1st Qu.:3550   Class :character
 Median :197.0     Median :4050   Mode  :character
 Mean   :200.9     Mean   :4202
 3rd Qu.:213.0     3rd Qu.:4750
 Max.   :231.0     Max.   :6300
 NA's   :2         NA's   :2

In [32]:
names(penguins)

[1] "species"           "island"            "bill_length_mm"
[4] "bill_depth_mm"     "flipper_length_mm" "body_mass_g"
[7] "sex"

In [33]:
penguins %>%
  filter(island == "Torgersen") %>%
  head()

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Torgersen 39.1           18.7          181               3750
2 Adelie  Torgersen 39.5           17.4          186               3800
3 Adelie  Torgersen 40.3           18.0          195               3250
4 Adelie  Torgersen   NA             NA           NA                 NA
5 Adelie  Torgersen 36.7           19.3          193               3450
6 Adelie  Torgersen 39.3           20.6          190               3650
  sex
1 Male
2 Female
3 Female
4 NA
5 Female
6 Male

In [35]:
penguins %>%
  arrange(flipper_length_mm) %>%
  head()

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Biscoe    37.9           18.6          172               3150
2 Adelie  Biscoe    37.8           18.3          174               3400
3 Adelie  Torgersen 40.2           17.0          176               3450
4 Adelie  Dream     39.5           16.7          178               3250
5 Adelie  Dream     37.2           18.1          178               3900
6 Adelie  Dream     33.1           16.1          178               2900
  sex
1 Female
2 Female
3 Female
4 Female
5 Male
6 Female

In [36]:
penguins %>%
  arrange(species) %>%
  head()

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Torgersen 39.1           18.7          181               3750
2 Adelie  Torgersen 39.5           17.4          186               3800
3 Adelie  Torgersen 40.3           18.0          195               3250
4 Adelie  Torgersen   NA             NA           NA                 NA
5 Adelie  Torgersen 36.7           19.3          193               3450
6 Adelie  Torgersen 39.3           20.6          190               3650
  sex
1 Male
2 Female
3 Female
4 NA
5 Female
6 Male

### Set a random seed and sample the data

In [37]:
set.seed(406)

penguins_subset <- penguins %>%
  sample_n(12)  # another dplyr function!

penguins_subset

   species   island    bill_length_mm bill_depth_mm flipper_length_mm
1  Adelie    Torgersen 41.4           18.5          202
2  Chinstrap Dream     50.1           17.9          190
3  Gentoo    Biscoe    50.5           15.9          222
4  Chinstrap Dream     49.0           19.6          212
5  Chinstrap Dream     43.5           18.1          202
6  Gentoo    Biscoe    51.5           16.3          230
7  Adelie    Biscoe    40.5           17.9          187
8  Gentoo    Biscoe    43.5           15.2          213
9  Adelie    Dream     36.3           19.5          190
10 Adelie    Torgersen 39.0           17.1          191
11 Adelie    Biscoe    41.6           18.0          192
12 Gentoo    Biscoe    47.6           14.5          215
   body_mass_g sex
1  3875        Male
2  3400        Female
3  5550        Male
4  4300        Male
5  3400        Female
6  5500        Male
7  3200        Female
8  4650        Female
9  3800        Male
10 3050        Female
11 3950        Male
12 5400        Male

### Sort with `arrange`

In [38]:
penguins_subset %>%
  arrange(species)

   species   island    bill_length_mm bill_depth_mm flipper_length_mm
1  Adelie    Torgersen 41.4           18.5          202
2  Adelie    Biscoe    40.5           17.9          187
3  Adelie    Dream     36.3           19.5          190
4  Adelie    Torgersen 39.0           17.1          191
5  Adelie    Biscoe    41.6           18.0          192
6  Chinstrap Dream     50.1           17.9          190
7  Chinstrap Dream     49.0           19.6          212
8  Chinstrap Dream     43.5           18.1          202
9  Gentoo    Biscoe    50.5           15.9          222
10 Gentoo    Biscoe    51.5           16.3          230
11 Gentoo    Biscoe    43.5           15.2          213
12 Gentoo    Biscoe    47.6           14.5          215
   body_mass_g sex
1  3875        Male
2  3200        Female
3  3800        Male
4  3050        Female
5  3950        Male
6  3400        Female
7  4300        Male
8  3400        Female
9  5550        Male
10 5500        Male
11 4650        Female
12 5400        Male

In [40]:
penguins_subset %>%
  arrange(desc(bill_length_mm))

   species   island    bill_length_mm bill_depth_mm flipper_length_mm
1  Gentoo    Biscoe    51.5           16.3          230
2  Gentoo    Biscoe    50.5           15.9          222
3  Chinstrap Dream     50.1           17.9          190
4  Chinstrap Dream     49.0           19.6          212
5  Gentoo    Biscoe    47.6           14.5          215
6  Chinstrap Dream     43.5           18.1          202
7  Gentoo    Biscoe    43.5           15.2          213
8  Adelie    Biscoe    41.6           18.0          192
9  Adelie    Torgersen 41.4           18.5          202
10 Adelie    Biscoe    40.5           17.9          187
11 Adelie    Torgersen 39.0           17.1          191
12 Adelie    Dream     36.3           19.5          190
   body_mass_g sex
1  5500        Male
2  5550        Male
3  3400        Female
4  4300        Male
5  5400        Male
6  3400        Female
7  4650        Female
8  3950        Male
9  3875        Male
10 3200        Female
11 3050        Female
12 3800        Male

In [41]:
penguins_subset %>%
  arrange(desc(species))

   species   island    bill_length_mm bill_depth_mm flipper_length_mm
1  Gentoo    Biscoe    50.5           15.9          222
2  Gentoo    Biscoe    51.5           16.3          230
3  Gentoo    Biscoe    43.5           15.2          213
4  Gentoo    Biscoe    47.6           14.5          215
5  Chinstrap Dream     50.1           17.9          190
6  Chinstrap Dream     49.0           19.6          212
7  Chinstrap Dream     43.5           18.1          202
8  Adelie    Torgersen 41.4           18.5          202
9  Adelie    Biscoe    40.5           17.9          187
10 Adelie    Dream     36.3           19.5          190
11 Adelie    Torgersen 39.0           17.1          191
12 Adelie    Biscoe    41.6           18.0          192
   body_mass_g sex
1  5550        Male
2  5500        Male
3  4650        Female
4  5400        Male
5  3400        Female
6  4300        Male
7  3400        Female
8  3875        Male
9  3200        Female
10 3800        Male
11 3050        Female
12 3950        Male

### Filter based on a condition

In [43]:
penguins_subset %>%
  filter(bill_depth_mm > 17)

  species   island    bill_length_mm bill_depth_mm flipper_length_mm
1 Adelie    Torgersen 41.4           18.5          202
2 Chinstrap Dream     50.1           17.9          190
3 Chinstrap Dream     49.0           19.6          212
4 Chinstrap Dream     43.5           18.1          202
5 Adelie    Biscoe    40.5           17.9          187
6 Adelie    Dream     36.3           19.5          190
7 Adelie    Torgersen 39.0           17.1          191
8 Adelie    Biscoe    41.6           18.0          192
  body_mass_g sex
1 3875        Male
2 3400        Female
3 4300        Male
4 3400        Female
5 3200        Female
6 3800        Male
7 3050        Female
8 3950        Male

In [44]:
penguins_subset %>%
  filter(island == "Dream")

  species   island bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Chinstrap Dream  50.1           17.9          190               3400
2 Chinstrap Dream  49.0           19.6          212               4300
3 Chinstrap Dream  43.5           18.1          202               3400
4 Adelie    Dream  36.3           19.5          190               3800
  sex
1 Female
2 Male
3 Female
4 Male

In [47]:
penguins_subset %>%
  filter(between(bill_length_mm, 40, 45 ))

  species   island    bill_length_mm bill_depth_mm flipper_length_mm
1 Adelie    Torgersen 41.4           18.5          202
2 Chinstrap Dream     43.5           18.1          202
3 Adelie    Biscoe    40.5           17.9          187
4 Gentoo    Biscoe    43.5           15.2          213
5 Adelie    Biscoe    41.6           18.0          192
  body_mass_g sex
1 3875        Male
2 3400        Female
3 3200        Female
4 4650        Female
5 3950        Male

### Select

In [48]:
penguins_subset %>%
  select(species, flipper_length_mm, sex)

   species   flipper_length_mm sex
1  Adelie    202               Male
2  Chinstrap 190               Female
3  Gentoo    222               Male
4  Chinstrap 212               Male
5  Chinstrap 202               Female
6  Gentoo    230               Male
7  Adelie    187               Female
8  Gentoo    213               Female
9  Adelie    190               Male
10 Adelie    191               Female
11 Adelie    192               Male
12 Gentoo    215               Male

In [49]:
penguins_subset %>%
  select(where(is.character))

   species   island    sex
1  Adelie    Torgersen Male
2  Chinstrap Dream     Female
3  Gentoo    Biscoe    Male
4  Chinstrap Dream     Male
5  Chinstrap Dream     Female
6  Gentoo    Biscoe    Male
7  Adelie    Biscoe    Female
8  Gentoo    Biscoe    Female
9  Adelie    Dream     Male
10 Adelie    Torgersen Female
11 Adelie    Biscoe    Male
12 Gentoo    Biscoe    Male

In [51]:
penguins_subset %>%
  select(where(is.numeric))

   bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1  41.4           18.5          202               3875
2  50.1           17.9          190               3400
3  50.5           15.9          222               5550
4  49.0           19.6          212               4300
5  43.5           18.1          202               3400
6  51.5           16.3          230               5500
7  40.5           17.9          187               3200
8  43.5           15.2          213               4650
9  36.3           19.5          190               3800
10 39.0           17.1          191               3050
11 41.6           18.0          192               3950
12 47.6           14.5          215               5400

In [53]:
penguins_subset %>%
  select(!where(is.numeric))

   species   island    sex
1  Adelie    Torgersen Male
2  Chinstrap Dream     Female
3  Gentoo    Biscoe    Male
4  Chinstrap Dream     Male
5  Chinstrap Dream     Female
6  Gentoo    Biscoe    Male
7  Adelie    Biscoe    Female
8  Gentoo    Biscoe    Female
9  Adelie    Dream     Male
10 Adelie    Torgersen Female
11 Adelie    Biscoe    Male
12 Gentoo    Biscoe    Male

### Math with mutate()

In [54]:
penguins_subset %>%
  mutate(body_weight_pounds = body_mass_g / 453.59237)

   species   island    bill_length_mm bill_depth_mm flipper_length_mm
1  Adelie    Torgersen 41.4           18.5          202
2  Chinstrap Dream     50.1           17.9          190
3  Gentoo    Biscoe    50.5           15.9          222
4  Chinstrap Dream     49.0           19.6          212
5  Chinstrap Dream     43.5           18.1          202
6  Gentoo    Biscoe    51.5           16.3          230
7  Adelie    Biscoe    40.5           17.9          187
8  Gentoo    Biscoe    43.5           15.2          213
9  Adelie    Dream     36.3           19.5          190
10 Adelie    Torgersen 39.0           17.1          191
11 Adelie    Biscoe    41.6           18.0          192
12 Gentoo    Biscoe    47.6           14.5          215
   body_mass_g sex    body_weight_pounds
1  3875        Male    8.542913
2  3400        Female  7.495717
3  5550        Male   12.235656
4  4300        Male    9.479877
5  3400        Female  7.495717
6  5500        Male   12.125424
7  3200        Female  7.054792
8  4650        Female 10.251495
9  3800        Male    8.377566
10 3050        Female  6.724099
11 3950        Male    8.708259
12 5400        Male   11.904962

In [56]:
penguins_subset %>%
  mutate(body_weight_pounds = body_mass_g / 453.59237) %>%
  select(species, body_mass_g, body_weight_pounds, everything())

   species   body_mass_g body_weight_pounds island    bill_length_mm
1  Adelie    3875         8.542913          Torgersen 41.4
2  Chinstrap 3400         7.495717          Dream     50.1
3  Gentoo    5550        12.235656          Biscoe    50.5
4  Chinstrap 4300         9.479877          Dream     49.0
5  Chinstrap 3400         7.495717          Dream     43.5
6  Gentoo    5500        12.125424          Biscoe    51.5
7  Adelie    3200         7.054792          Biscoe    40.5
8  Gentoo    4650        10.251495          Biscoe    43.5
9  Adelie    3800         8.377566          Dream     36.3
10 Adelie    3050         6.724099          Torgersen 39.0
11 Adelie    3950         8.708259          Biscoe    41.6
12 Gentoo    5400        11.904962          Biscoe    47.6
   bill_depth_mm flipper_length_mm sex
1  18.5          202               Male
2  17.9          190               Female
3  15.9          222               Male
4  19.6          212               Male
5  18.1          202               Female
6  16.3          230               Male
7  17.9          187               Female
8  15.2          213               Female
9  19.5          190               Male
10 17.1          191               Female
11 18.0          192               Male
12 14.5          215               Male

In [61]:
penguins_subset %>%
    summarise(avg=mean(body_mass_g))

  avg
1 4172.917

In [62]:
penguins %>%
  summarise(avg_body_mass = mean(body_mass_g))

  avg_body_mass
1 NA

In [64]:
penguins %>%
  summarise(avg_body_mass = mean(body_mass_g, na.rm = TRUE))

  avg_body_mass
1 4201.754

In [68]:
penguins_subset %>%
    group_by(species) %>%
    summarise(avg_species_body_mass = mean(body_mass_g, na.rm=TRUE))

  species   avg_species_body_mass
1 Adelie    3575
2 Chinstrap 3700
3 Gentoo    5275

In [69]:
penguins %>%
  group_by(species, island) %>%
  summarise(avg_species_body_mass = mean(body_mass_g, na.rm = TRUE))

`summarise()` has grouped output by 'species'. You can override using the
`.groups` argument.

  species   island    avg_species_body_mass
1 Adelie    Biscoe    3709.659
2 Adelie    Dream     3688.393
3 Adelie    Torgersen 3706.373
4 Chinstrap Dream     3733.088
5 Gentoo    Biscoe    5076.016