# SQL Commands Glossary - An Overview of 25 Most Popular SQL Commands

## What is SQL?

#### Instructions
> Provide a short sentence that explains how to use SELECT statements. And provide a simple example of SELECT in action. For example

## SQL Commands with examples

### 1. SELECT
SELECT statement is used to select data from a database table. In the below example, we are choosing all the columns from table **films** printing out the rows.

```SQL
SELECT * FROM films;
```

In this second example, we are choosing only certain columns instead of choosing all:

```SQL
SELECT movie_name, director 
FROM films;
```

### 2. LIMIT

The LIMIT command is used to crop the output of a SELECT statement. In the last SELECT statements, the outputs was all the rows in the table. Below, we limit the number to only 10 rows:

```SQL
SELECT *
FROM films
LIMIT 10;
```

### 3. AS

Sometimes, columns names can be too long and in a typical SQL statement, you might refer to the single column multiple times. To avoid typing the full name of the column every time, you can give it another shorter name called an alias using the AS keyword:

```SQL
SELECT movie_name AS name, release_date AS date
FROM films
LIMIT 5;
```

### 4. DISTINCT

Real world datasets often contain duplicate rows or values in a column. Vanilla SELECT statement ignores this but adding the DISTINCT keyword after it drops them:

```SQL
SELECT DISTINCT director
FROM films;
```

Above, we are selecting unique director names.

### 5. COUNT
As the name suggests, the COUNT keyword is used to count the output of the SELECT statement. For example, the below query counts the number of rows in the **films** table:

```SQL
SELECT COUNT(*)
FROM films;
```

Note that COUNT(col_name) is equivalent to COUNT(\*).

### 6. MAX

```SQL

```

### 7. MIN

```SQL

```

### 8. SUM

```SQL

```

### 9. AVERAGE

```SQL

```

### 10. WHERE

```SQL

```

### 11. AND

```SQL

```

### 12. OR

```SQL

```

### 13. BETWEEN

```SQL

```

### 14. IN

```SQL

```

### 15. LIKE

```SQL

```

### 16. GROUP BY

```SQL

```

### 17. ORDER BY

```SQL

```

### 18. UPDATE

```SQL

```

### 19. ALTER

```SQL

```

### 20. CREATE TABLE

```SQL

```

### 21. INNER JOIN

```SQL

```

### 22. LEFT JOIN

```SQL

```

### 23. RIGHT JOIN

```SQL

```

### 24. HAVING

```SQL

```

### 24. UNION

```SQL

```

## SQL Commands Cheat Sheet