# SQL Commands Glossary - An Overview of 25 Most Popular SQL Commands

## What is SQL?

## SQL Commands with examples

### 1. SELECT

### 2. LIMIT

### 3. AS

### 4. DISTINCT

### 5. COUNT

### 6. MAX

### 7. MIN

### 8. SUM

### 9. AVERAGE

### 10. WHERE

### 11. AND

### 12. OR

### 13. BETWEEN

### 14. IN

### 15. LIKE

### 16. GROUP BY

### 17. ORDER BY

### 18. UPDATE

### 19. ALTER

### 20. CREATE TABLE

### 21. INNER JOIN

### 22. LEFT JOIN

### 23. RIGHT JOIN

### 24. HAVING

### 24. UNION

## SQL Commands Cheat Sheet