In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("data/ride_sharing_new.csv")

df.head(10)

,Unnamed: 0,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender
0,0,12 minutes,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male
1,1,24 minutes,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male
2,2,8 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male
3,3,4 minutes,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male
4,4,11 minutes,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male
5,5,10 minutes,22,Howard St at Beale St,6,The Embarcadero at Sansome St,3279,2,1979,Male
6,6,16 minutes,67,San Francisco Caltrain Station 2 (Townsend St...,107,17th St at Dolores St,1035,2,1981,Male
7,7,9 minutes,30,San Francisco Caltrain (Townsend St at 4th St),97,14th St at Mission St,5286,2,1991,Male
8,8,21 minutes,81,Berry St at 4th St,16,Steuart St at Market St,2124,1,1982,Female
9,9,5 minutes,30,San Francisco Caltrain (Townsend St at 4th St),62,Victoria Manalo Draves Park,333,1,1994,Male

In [20]:
df.user_gender.unique()

array(['Male', 'Female', 'Other'], dtype=object)