# How to Perform Fuzzy Dataframe Row Matching With RecordLinkage
## An elite skill for hardest of the problems
<img src='images/chain.jpg'></img>
<figcaption style="text-align: center;">
    <strong>
        Photo by 
        <a href='https://www.pexels.com/@joey-kyber-31917?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels'>Joey Kyber</a>
        on 
        <a href='https://www.pexels.com/photo/sea-nature-sunset-water-119562/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels'>Unsplash</a>
    </strong>
</figcaption>

### Introduction <small id='intro'></small>

In one of my previous articles, I wrote about how to perform string similarity to clean text data using `fuzzywuzzy` package. Learning about the package and performing it in practice was really awesome. But wouldn't be even greater if we could perform the same process between rows of dataframes? 

Actually, the question should be why would we even need it? Today data is never collected in the same place but across several locations. A common challenge in this process is to convert all the little pieces of data into the same format so that when you merge them they work smoothly with data manipulation softwares such as SQL or `pandas`. 

But it is just not always possible. Consider these two fake tables:
<img src='images/1.png'></img>

Assume they are schedules for NBA games and they were scraped from different sites. If we want to merge them together, the merge would result in duplicates because even though not exact, there are fuzzy duplicates:
<img src='images/3.png'></img>

To merge them you would have to perform serious data cleaning operations to get the merge working. However, this dataset could have easily been thousands of rows and you would not be able to find all the edge cases. 

Real-world cases will be much more complex. Fuzzy row matching helps to remove duplicates and introduces consistency to your data. 

With that goal in mind, let me introduce you to `recordlinkage` package. It provides all the tools needed for record linkage and deduplication. In the next sections, we will see case studies to perform record linkage and will build a solid foundation for your future data cleaning projects.

### Overview
1. [Introduction](#intro)
1. [Setup](#setup)
1. [Indexing](#indexing)
1. [Case Study 1](#case1)
1. [Case Study 2](#case2)

### Setup and Installation <small id='setup'></small>

`recordlinkage` can be installed using `pip`:

```pip install recordlinkage```

For it to work, you need to import it with `pandas`:

In [1]:
# Load necessary packages
import pandas as pd
import recordlinkage as rl
import time

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

### Record Linkage, Indexing <small id='indexing'></small>

For the next examples, we will load one of the built-in datasets of `recordlinkage` to showcase its powers:

In [2]:
from recordlinkage.datasets import load_febrl4

census_a, census_b = load_febrl4()

The above two datasets contain census data generated by [Febrl](https://sourceforge.net/projects/febrl/) project. It was divided into two with 5k rows in each and each are suited to perform record linkage.

For easy illustration, I will just take a random sample from both datasets:

In [3]:
rand_a = census_a.sample(5)
rand_b = census_b.sample(5)

In [4]:
rand_a

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-178-org,kirra,okoniewski,11,NaN,molyneux hse,kardinya,5330,nsw,19700823,2077704
rec-3812-org,dean,webb,52,buggy crescent,mount patrick,stratton,3138,nsw,19171128,4129591
rec-3510-org,kimberly,mason,150,tauss place,NaN,rosewater,7008,nsw,19840507,5663441
rec-424-org,nicholas,george,25,kambah vlge,casuarina shoppingsqre,fish creek,3585,nsw,19370405,8589026
rec-271-org,abby,sporn,29,nivison place,key,joyner,2340,sa,19830505,5733964

In [5]:
rand_b

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-492-dup-0,matthews,carky,14,mcnamara street,henry kendqll hostel,aroona,2275,nsw,19460115,6001116
rec-1698-dup-0,joshua,choi-lundberg,31,vest place,NaN,leslie vale,7000,qld,19380903,1002096
rec-2937-dup-0,connor,trait,6,lane place,NaN,leichhardt,3337,vic,19150208,1776479
rec-2407-dup-0,logan,hazelk,57,chewings pstreet,NaN,elsternwick,3350,nsw,19510911,9448381
rec-752-dup-0,georgia,weidengbach,4,marou place,blueberry,innaloo,4068,vic,19280919,5368290

Assume we want to link the records of the two datasets without introducing duplication. To start the process, we would have to generate pairs for possible matches. Obviously, we cannot know which rows match so we would have to take all the possible pairs. Generating pairs to calculate similarity is done using the indexes of the two datasets. That's why it is also called `indexing`. `recordlinkage` package makes this process very easy:

In [6]:
# Create an indexing object
indexer = rl.Index()

To start the process, we will create an indexing object. Next, we should specify the mode of generating the pairs. Since we need to generate all the possible combinations of indexes, we will use `.full()` method on the indexing object:

In [7]:
# Set the mode of generation to full
indexer.full()

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

Next, we will input the datasets to generate the pairs, also called candidates and assign the result to a new variable:

In [8]:
pairs = indexer.index(rand_a, rand_b)
pairs

MultiIndex([( 'rec-178-org',  'rec-492-dup-0'),
            ( 'rec-178-org', 'rec-1698-dup-0'),
            ( 'rec-178-org', 'rec-2937-dup-0'),
            ( 'rec-178-org', 'rec-2407-dup-0'),
            ( 'rec-178-org',  'rec-752-dup-0'),
            ('rec-3812-org',  'rec-492-dup-0'),
            ('rec-3812-org', 'rec-1698-dup-0'),
            ('rec-3812-org', 'rec-2937-dup-0'),
            ('rec-3812-org', 'rec-2407-dup-0'),
            ('rec-3812-org',  'rec-752-dup-0'),
            ('rec-3510-org',  'rec-492-dup-0'),
            ('rec-3510-org', 'rec-1698-dup-0'),
            ('rec-3510-org', 'rec-2937-dup-0'),
            ('rec-3510-org', 'rec-2407-dup-0'),
            ('rec-3510-org',  'rec-752-dup-0'),
            ( 'rec-424-org',  'rec-492-dup-0'),
            ( 'rec-424-org', 'rec-1698-dup-0'),
            ( 'rec-424-org', 'rec-2937-dup-0'),
            ( 'rec-424-org', 'rec-2407-dup-0'),
            ( 'rec-424-org',  'rec-752-dup-0'),
            ( 'rec-271-org',  'rec-492-dup-0'),
            ( 'rec-271-org', 'rec-1698-dup-0'),
            ( 'rec-271-org', 'rec-2937-dup-0'),
            ( 'rec-271-org', 'rec-2407-dup-0'),
            ( 'rec-271-org',  'rec-752-dup-0')],
           names=['rec_id_1', 'rec_id_2'])

The result will be a `pandas.MultiIndex` object. The first level contains the indexes from the first dataset and similarly, the second level indexes contain the indexes for the second dataset.

The length of the resulting `series` will always be the product of the lengths of datasets. Because for our 5-row datasets, each index from the first table will have 5 pairs of indexes from the second:
<img src='images/4.png'></img>

However, if our datasets are large, generating all the possible pairs will be very computationally expensive. To avoid generating all the possible pairs, we should choose one column which has consistent values from both datasets. For our small datasets, there is a state column:
```
>>> rand_a[['state']], rand_b[['state']]
```
<img src='images/5.png'></img>

If you pay attention, the unique values of `state` is consistent in both datasets. Meaning, one state name is not different in the other. This helps us very much because now we can exclude all the pairs that does not have a matching state value. To do this with `recordlinkage`, we have to change the mode from `full` to `blocking`:

In [9]:
# From scratch
indexer = rl.Index()
# Set the mode to blocking with `state`
indexer.block('state')
# Generate pairs
pairs = indexer.index(rand_a, rand_b)
pairs

MultiIndex([( 'rec-178-org',  'rec-492-dup-0'),
            ( 'rec-178-org', 'rec-2407-dup-0'),
            ('rec-3812-org',  'rec-492-dup-0'),
            ('rec-3812-org', 'rec-2407-dup-0'),
            ('rec-3510-org',  'rec-492-dup-0'),
            ('rec-3510-org', 'rec-2407-dup-0'),
            ( 'rec-424-org',  'rec-492-dup-0'),
            ( 'rec-424-org', 'rec-2407-dup-0')],
           names=['rec_id_1', 'rec_id_2'])

> Remember, the logic behind blocking on a certain column is that we expect duplicate values to have the same or similar values across the columns of both datasets and if the rows do not match on some certain column, we can exclude that pair.

As you see, the number of pairs (6) got reduced significantly. These index pairs are also the ones that have the same values for `state`. Let's check some of the pairs:

If you use blocking on a consistent common column, the number of pairs will be much less. We can even use multiple columns to block as long as the unique values of those columns are inconsistent in both tables.

### Record Linkage, Case Study <small id='case1'></small>

Now that you have an understanding of indexing, we can start record linkage with the full datasets:

In [10]:
# Create an indexing object
indexer = rl.Index()
# Block on state
indexer.block('state')
# Generate candidate pairs
pairs = indexer.index(census_a, census_b)
print(len(pairs))

5458951

For full datasets, almost 5.5 million pairs are returned. Remember, if we used full indexing, it would have been 25 million. 
Now, using these candidate pairs, we will perform comparison of each column values. To start comparing, we should create a comparing object:

In [11]:
# Create a comparing object
compare = rl.Compare()

This object has many useful functions to match exact or fuzzy values of the columns. First, let's start by matching exact matches:

In [12]:
# Query the exact matches of state
compare.exact('state', 'state', label='state')
# Query the exact matches of date of birth
compare.exact('date_of_birth', 'date_of_birth', label='date_of_birth')
# Query the exact matches of date of birth
compare.exact('soc_sec_id', 'soc_sec_id', label='soc_sec_id')
# Query the exact matches of date of birth
compare.exact('postcode', 'postcode', label='postcode')

When we use `exact` for certain fields, we expect row pairs have exactly the same values for these fields. The parameters of `exact`:
- `left_on`:  the column name of the left dataset
- `right_on`: the column name of the right dataset
- `label`: the column name of the resulting dataset

After we perform all the comparisons, the result will be a `pandas` dataframe and `label` controls the name of the appropriate column name in the resulting dataframe. 

Why did we choose exact matching? Because the postcode, social security ID, the date of birth and the state columns have to be an exact match to be a duplicate. This also depends on the values of those columns. If the unique values are consistent among the datasets, we should use `exact`.

Now, for fuzzy matching. The given name, surname, address columns will probably have typos and inconsistencies, so we will use fuzzy string matching for them:

In [13]:
# Query the fuzzy matches for given name
compare.string('given_name', 'given_name', threshold=0.75, method='levenshtein', label='given_name')
# Query the fuzzy matches for surname
compare.string('surname', 'surname', threshold=0.75, method='levenshtein', label='surname')
# Query the fuzzy matches for address
compare.string('address_1', 'address_1', threshold=0.75, method='levenshtein', label='address')

For fuzzy `string` matching, we will use `.string` method. The parameters for column names are the same. Other parameters:
- `method`: controls the algorithm used to calculate string similarity
- `threshold`: the similarity score threshold. If similarity is higher than the given score, it is a match

> There are other methods of matching values depending on the data type: `.numeric` and `.date`.

Now, we have the methods in place, it is time to compute them and assign the result to a variable:

In [ ]:
# Compute the matches, this will take a while
matches = compare.compute(pairs, census_a, census_b)

`.compute` takes three arguments. First one is the `MultiIndex` object of potential indexes. The next two are the two data frames we are using. Note that the order of their input should be the same as `indexer.index()`.

After the computation is done, we will have a dataset of this sort:

In [ ]:
matches.sample(5)

The resulting data frame also has multi-level index, first one being `census_a`, second one being `census_b`. The rest of the columns will have either 1 for a match or 0 for not a match. Let's interpret the first row of the above sample:

The rows with indexes `rec-3254-org` and `rec-1416-dup-0` only matched on the `state` column because there is 1 in that field. These rows failed to match in other fields.

Now, let's set when we decide that two rows are duplicate. For our dataset, I think if the rows match on at least 4 columns, there is pretty high chance that they are duplicates. We can easily subset for rows with overall matching score of at least 4 with `sum` and boolean indexing:

In [ ]:
# Query matches with score over 4
full_matches = matches[matches.sum(axis='columns') >= 4]
full_matches.sample(5)

In [ ]:
full_matches.shape

> If you use `.sum()` with `axis` set to 1 or `columns`, it will take the sum of numeric values across columns.

As you can see, almost 4676 rows matched out of 5.5 million possible pairs. Now before merging our original tables together, we have to make sure that we do not include these 4676 rows. To do this, we will do a little bit of manipulation:

In [ ]:
# Get the indexes from either of index levels
duplicates = full_matches.index.get_level_values('rec_id_2')
print(duplicates[:10])

To get indexes of some level from multi-level indexes, we use `.get_level_values` on `df.index`.

Since we chose the second level index, we should exclude them from `census_b`:

In [ ]:
# Exclude the indexes of duplicates from census_b
unique_b = census_b[~census_b.index.isin(duplicates)]
unique_b.shape

Now, the `unique_b` is ready to be appended to the first dataset:

In [ ]:
# Append deduplicated census_b to census_a
full_census = census_a.append(unique_b)
full_census.shape

In [ ]:
full_census.sample(5)

There you go. From 10k rows full of duplicates, we got it to 5324 unique rows. Here is the full code:

In [ ]:
## set a time
start = time.time()
# Create an indexing object
indexer = rl.Index()
# Block on state
indexer.block('state')
# Generate candidate pairs
pairs = indexer.index(census_a, census_b)

# Create a comparing object
compare = rl.Compare()

# Query the exact matches of state
compare.exact('state', 'state', label='state')
# Query the exact matches of date of birth
compare.exact('date_of_birth', 'date_of_birth', label='date_of_birth')
# Query the exact matches of date of birth
compare.exact('soc_sec_id', 'soc_sec_id', label='soc_sec_id')
# Query the exact matches of date of birth
compare.exact('postcode', 'postcode', label='postcode')
# Query the fuzzy matches for given name
compare.string('given_name', 'given_name', threshold=0.75, method='levenshtein', label='given_name')
# Query the fuzzy matches for surname
compare.string('surname', 'surname', threshold=0.75, method='levenshtein', label='surname')
# Query the fuzzy matches for address
compare.string('address_1', 'address_1', threshold=0.75, method='levenshtein', label='address')

# Compute the matches, this will take a while
matches = compare.compute(pairs, census_a, census_b)
# Query matches with score over 4
full_matches = matches[matches.sum(axis='columns') >= 4]

# Get the indexes from either of index levels
duplicates = full_matches.index.get_level_values('rec_id_2')
# Exclude the indexes of duplicates from census_b
unique_b = census_b[~census_b.index.isin(duplicates)]

# Append deduplicated census_b to census_a
full_census = census_a.append(unique_b)

# end timer
end = time.time()
end - start

### Record Linkage, Case Study 2 <small id='case2'></small>

To solidify your knowledge, we will perform record linkage with two other datasets:

In [ ]:
# Load restaurants data
restaurants_1 = pd.read_csv('data/restaurants1.csv', index_col=0)
restaurants_2 = pd.read_csv('data/restaurants2.csv', index_col=0)

In [ ]:
restaurants_1.sample(5)

In [ ]:
restaurants_1.shape

In [ ]:
restaurants_2.sample(5)

In [ ]:
restaurants_2.shape

We have to merge these two datasets without duplication. Since they have long names and addresses, they will probably be full of typos and inconsistencies, so `.merge` won't work as expected:

In [ ]:
merged = restaurants_1.merge(restaurants_2, on='name')
merged.shape

None matched! This definitely suggests we use record linkage. I will perform the process without too much details, because the steps will be the same as before:

In [ ]:
# set a timer
start = time.time()
# Create an indexer object
indexer = rl.Index()
# Block on restaurant type because it has consistent values across datasets
indexer.block('type')
# Create candidate pairs
pairs = indexer.index(restaurants_1, restaurants_2)

# Creat a comparion object
compare = rl.Compare()
# Fuzzy string matches
compare.string('name', 'name', label='name', threshold=0.75, method='levenshtein')
compare.string('addr', 'addr', label='address', threshold=0.75, method='levenshtein')
compare.string('city', 'city', label='city', threshold=0.75, method='levenshtein')
# Fuzzy numeric matches
compare.numeric('phone', 'phone', label='phone')

# Create matches
matches = compare.compute(pairs, restaurants_1, restaurants_2)
# Query matches of score over 3
full_matches = matches[matches.sum(axis='columns') >= 3]

# Get the indexes from either of index levels
duplicates = full_matches.index.get_level_values(1)
# Exclude the indexes of duplicates from census_b
res_unique = restaurants_2[~restaurants_2.index.isin(duplicates)]

# Append deduplicated census_b to census_a
full_restaurants = restaurants_1.append(res_unique)
print("Number of all restaurants: " + str(full_restaurants.shape[0]))
# end timer
end = time.time()
end - start